<div> 
  <h1 id="title">Welcome, <%= session[:player_name] %></h1>
  <br/>
  <h3>What game would you like to play? </h3>
</div>

<a href="/blackjack/place_bet"><button type="button" class="btn btn-info">Blackjack</button></a>
