<span style="text-align: center"> 
  <h1>Welcome, <%= session[:player_name] %></h1>
  <br/>
  <h3>What game would you like to play? </h3>
</span>

<a href="/new_blackjack"><button type="button" class="btn btn-info">Blackjack</button></a>
