<span style="text-align:center">

<h1>Welcome! Bienvenidos! Wilkommen!</h1>
</br>
<p>What is your name?</p>

<form action='/new_player' method='post'>
  Name: <input type="text" name="player_name" />
  <input type="submit" value="Submit" class="btn btn-primary" />
</form> 

</span>