form#hit_button, 
form#stay_button {
  float: left;
  padding-right: 1em;
}

h1#title {
  text-align: center;
}


div#card_table {
  background-color: green;

}

div#sidebar {
  height: auto;
  width: 15%;
  float: left;
}

div#main {
  float: right;
  width:80%;
}

div#message {
  fixed: bottom;
}

